<div class="sake-details">
  <span class="grade"><i class="fas fa-wine-bottle"></i> <%= tasting_note.sake.localized_grade %></span>
  <span class="location"><i class="fas fa-globe-asia"></i> <%= tasting_note.sake.localized_location %></span>
</div>