<div class="card sake-card">
  <div class="title">
    <%= link_to sake.localized_name, sake_path(sake), class: "localized-name" %>
  </div>

  <%= render partial: "sakes/details", locals: { sake: sake } %>
</div>