<div class="title-header">
  <h1><%= t('.title') %></h1>
  <%= link_to t('.add_html'), new_sake_path, class: "button btn-add" %>
</div>

<% @sakes.each do |sake| %>
  <%= render partial: 'sake', locals: { sake: sake } %>
<% end %>