<h1><%= t('.title') %></h1>
<h2><%= t('.sake_list_title') %></h2>

<ul>
<% @tasting_notes.each do |note| %>
  <li><%= link_to note.sake.localized_name, user_tasting_note_path(@user, note) %></li>
<% end %>
</ul>

<% if current_user == @user %>
  <%= link_to t('.add_note'), new_user_tasting_note_path(@user), class: "button btn-regular" %>
<% end %>
