/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.brewery-details {
  padding-bottom: 1em;
}

.brewery-details span {
  margin-right: 1em;
}

.brewery-details span:last-child {
  margin-right: 0;
}