.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.field_with_errors input {
  border-color: red;
}

#form-login,
#form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#form-login input[type="submit"],
#form-signup input[type="submit"] {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

#form-login #facebook-login,
#form-signup #facebook-login {
  padding: 2em 0;
}

#form-login #login-error {
  
}