/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.sake-details {
  padding-bottom: 1em;
}

.sake-details span {
  margin-right: 1em;
}

.sake-details span:last-child {
  margin-right: 0;
}
