#tasting-note {
  background: white;
  padding: 1em;
  border-radius: 4px;
}

#tasting-note .content {
  display: flex;
}

#tasting-note .rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 70px;
  padding: 8px;
  margin-right: 8px;
  background-color: #E1F5FE;
  border-radius: 5px;
}

#tasting-note .rating-label {
  font-size: 0.8em;
}

#tasting-note .rating-value {
  font-size: 2em;
}

#tasting-note .comment {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#delete {
  text-align: right;
  font-size: 0.85em;
}

#delete a {
  color: #b71c1c
}