#profile-sake-list {
  width: 720px;
}

#profile-sake-list .list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0 1em;
}

#profile-sake-list .list-header h2 {
  margin-top: 0;
}


/* Responsive */
/* ------------------------------- */
@media screen and (max-width: 750px) {
  #profile-sake-list {
    width: 100%;
  }
}