<div id="welcome">
  <h1><%= t('app_name') %></h1>
  <h2><%= t('.catchphrase') %></h2>
  <div class="cta">
    <%= link_to t('signup'), signup_path, class: "button btn-regular" %>
  </div>
  <div><%= link_to t('login'), login_path %></div>
</div>