/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.sake-details {
  padding-bottom: 1em;
}

.sake-details span {
  margin-right: 1em;
}

.sake-details span:last-child {
  margin-right: 0;
}

#current-user-tasting-note {
  margin-top: 4em;
}

#current-user-tasting-note .tasting-note {
  margin-bottom: 1em;
}

#current-user-tasting-note .tasting-note:last-child {
  margin-bottom: 0;
}

.button.add-note {
  margin-top: 2em;
}
